{% extends 'base.html.twig' %}

{% block title %} Product List {% endblock %}

{% block body %}

<div class="container mt-3">
    {% for flash in app.flashes("Success") %}
        <p class="alert alert-primary"> {{ flash }} </p>
    {% endfor %}
    {% for flash in app.flashes("Error") %}
        <p class="alert alert-danger"> {{ flash }} </p>
    {% endfor %}
</div>

<div class="container">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td scope="row">{{ product.id }}</td>
            <td scope="row">{{ product.name }}</td>
            <th scope="row"><img src="{{ asset('images/products/' ~ product.getImage())}}" width="200px" height="150px"></th>
            <td scope="row"> 
                <a class="btn btn-outline-info" href="{{ path ( 'product_detail' , {'id' : product.id } ) }}">Detail</a>
                <a class="btn btn-outline-info" href="{{ path ( 'cart_add' , {'id' : product.id }) }}">Add to Cart</a>
                <a class="btn btn-outline-secondary" href="{{ path ( 'product_update' , {'id' : product.id } ) }}">Update</a>
                <a class="btn btn-outline-danger" href="{{ path ( 'product_delete' , {'id' : product.id } ) }}"
                                          onclick = "return confirm('Are you sure to delete ?')"
                >Delete</a>
            </td>
        </tr> 
    {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-center">
<a class="btn btn-outline-primary" href="{{ path ('product_create') }}">Create Product</a>
</div>
</div>

{% endblock %}
